rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Open path matching for all templates, portfolios, users and components
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
